{% extends "base.html" %}

{% block title %}About{% endblock %}


{% block content %}

Business specialist and IT passionate with a focus on strategic planning, financial analysis and business intelligence. My interests are closely aligned with Data Science, Deep and Machine Learning.

Passionate and assertive, with experience in both startups and corporates, as well as capable of sharp executions coupled with relentless ambition and energy, which will enable the business to reach targets and goals.Business specialist and IT passionate with a focus on strategic planning, financial analysis and business intelligence. My interests are closely aligned with Data Science, Deep and Machine Learning. Passionate and assertive, with experience in both startups and corporates, as well as capable of sharp executions coupled with relentless ambition and energy, which will enable the business to reach targets and goals.

{% endblock %}